@use './variables' as *;
@use './mixins' as *;


// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-secondary;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-main;
    font-weight: 800;
}

a{
    transition: color $transition-time;
    text-decoration: none;

    &:hover{
        color: $color-main;
    }
}

%form-item{
    width: 100%;
    font-family: $font-secondary;
    font-size: 1em;
    border: none;
    padding: 0.75em 1em;
    border-radius: $radius-border;
    color: inherit
}

button{
    @extend %form-item;
    font-weight: 700;
    background: $color-main;
    transition: background $transition-time;

    &:hover{
        background: $color-secondary;
    }
}

input{
    @extend %form-item;
}

#root{
    margin: 0 auto;
    width: 100%;
}




