@use '../variables' as *;
@use '../mixins' as *;


.hero{
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9)),
                    url('../../../public/hero/img01-min.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include flex(column, wrap, center, center);

  height: 600px;
  padding-top: $header-height;
  margin-bottom: 2000px;
}
  
