* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1360px) {
  #root {
    max-width: 100%;
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  #root {
    max-width: 100%;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 320px) {
  #root {
    max-width: 100%;
    padding: 0 1rem;
  }
}

html {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fafafa;
  background-color: #09090b;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #fafafa;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: #e72fa9;
}

input, button {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  padding: 0.75em 1em;
  color: inherit;
  border: none;
  border-radius: 15px;
}

button {
  font-weight: 700;
  background: #e72fa9;
  transition: background 0.3s;
}
button:hover {
  background: #f02f6e;
}

input {
  width: 100%;
  background: transparent;
  border: 1px solid #a1a1aa;
  position: relative;
}

.input {
  padding-left: 2.5em;
}
.input__container {
  width: 100%;
  position: relative;
  display: inline-block;
}
.input__container::before {
  font-family: "Font Awesome 6 Free";
  font-size: 1em;
  font-weight: 900;
  color: #a1a1aa;
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.input__container--user::before {
  content: "\f007";
}
.input__container--password::before {
  content: "\f023";
}
.input__container--email::before {
  content: "\f0e0";
}
.input__container--date::before {
  content: "\f133";
}
.input__container--search::before {
  content: "\f002";
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 1000;
}
.header__navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.header__img {
  height: 20px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .header__auth-text {
    display: none;
  }
}
.header__auth-logged {
  background: none;
  border: none;
  padding: 0;
  color: #fafafa;
  font-size: 1em;
  transition: opacity 0.3s;
}
.header__auth-logged:hover {
  background: none;
  opacity: 0.7;
}
.header__auth-logout {
  background: none;
  border: none;
  padding: 0;
  color: #fafafa;
  font-size: 1em;
  transition: opacity 0.3s;
  font-weight: normal;
  color: #ee4242;
}
.header__auth-logout:hover {
  background: none;
  opacity: 0.7;
}
.header__action {
  margin-left: 1em;
  background: none;
  border: none;
  padding: 0;
  color: #fafafa;
  font-size: 1em;
  transition: opacity 0.3s;
}
.header__action:hover {
  background: none;
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .header__action {
    display: none;
  }
}
.header__auth-info {
  position: absolute;
  top: 80px;
  right: 0;
  display: none;
  gap: 0.5em;
  background: #09090b;
  padding: 1em 2em;
}
.header__auth-info--visible {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.header__auth-email {
  padding-bottom: 1em;
}
.header__auth-email::after {
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background: #fafafa;
  margin-top: 0.5em;
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    transition: background-color 0.3s;
  }
  .header--black {
    background-color: #09090b;
  }
  .header__nav {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    right: -768px;
    max-width: 65vw;
    background-color: #09090b;
    padding-top: 3rem;
    transition: all 0.3s;
  }
  .header__nav--open {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    right: -2em;
  }
  .header__img {
    height: 20px;
  }
  .header__actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .header__action--visible {
    display: block;
  }
  .header__action--hidden {
    display: none;
  }
}

.auth-form {
  max-width: 50vh;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.auth-form__title {
  font-size: 2.5rem;
  text-align: center;
  color: #e72fa9;
}
.auth-form__description {
  text-align: center;
  color: #a1a1aa;
}
.auth-form__input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}
.auth-form__input--error {
  border: 1px solid #ee4242;
}
.auth-form__message {
  color: #ee4242;
}
.auth-form__message--success {
  color: #5ccb5f;
}
.auth-form__button {
  color: #fafafa;
  width: 100%;
}
.auth-form__link {
  color: #e72fa9;
}
.auth-form__link:hover {
  color: #f02f6e;
}

.hero {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../../../public/hero/img01-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 600px;
  padding-top: 80px;
  margin-bottom: 2000px;
}

.events__clear-button, .events__filtrer-button {
  background: none;
  border: none;
  padding: 0;
  color: #fafafa;
  font-size: 1em;
  transition: opacity 0.3s;
  position: absolute;
  top: calc(50% - 0.65em);
  color: #a1a1aa;
  transition: color 0.3s;
  cursor: pointer;
}
.events__clear-button:hover, .events__filtrer-button:hover {
  background: none;
  opacity: 0.7;
}
.events__clear-button:hover, .events__filtrer-button:hover {
  color: #fafafa;
  background: none;
}

.places {
  width: 100%;
  padding: 2rem 0;
}
.places__title {
  font-size: 2.5em;
  text-align: center;
}
.places__description {
  text-align: center;
}

.events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
@media screen and (max-width: 1360px) {
  .events {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .events {
    grid-template-columns: 1fr;
  }
}
.events__search-bar {
  margin: 2em 0;
  position: relative;
}
.events__filtrer-button {
  right: 1em;
}
.events__clear-button {
  right: 6em;
}
.events__card {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1em 2em;
  border-radius: 15px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.events__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
  pointer-events: none;
  z-index: -1;
}
.events__card:hover {
  transform: scale(0.98);
}
.events__card:hover::after {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}
.events__card:hover .events__title {
  color: #e72fa9;
}
.events__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
}
.events__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.events__rating-icon {
  color: #facc15;
}
.events__fav {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em 1em;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 999px;
  transition: background-color 0.3s;
  font-size: 1em;
  width: 3em;
  height: 3em;
}
.events__fav:hover {
  background-color: black;
}
.events__fav:hover {
  color: #f02f6e;
}
.events__title {
  font-size: 1.3em;
  transition: color 0.3s;
}
.events__location, .events__description {
  font-size: 0.9em;
}
.events__tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.events__tag, .events__rating {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.25em 1em;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 999px;
  transition: background-color 0.3s;
}
.events__tag:hover, .events__rating:hover {
  background-color: black;
}/*# sourceMappingURL=index.css.map */