@use "../variables" as *;
@use "../mixins" as *;

.header {
  width: 100%;
  position: sticky;
  top: 0;
  // background: $color-translucent;
  backdrop-filter: $blur-high;
  border-radius: $radius-border-tag;
  padding: 0 2em;
  z-index: 1000;

  &__navbar {
    height: $header-height;
    @include flex(row, wrap, space-between, center);
  }

  &__logo {
    @include flex(row, nowrap, flex-start, center);
    height: 100%;
  }

  &__img {
    height: 20px;
  }

  &__nav {
    @include flex;
    gap: 1.5rem;
  }

  &__link{
    &--active{
      color: $color-main;
    }
  }

  &__auth-avatar {
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    border-radius: 50%;
  }

  &__auth-text {
    @include hide-mobile();
  }

  &__auth-logged {
    @include reset_button();
    @include flex(row, nowrap, center, center);
    gap: 0.5em;
  }

  &__auth-logout {
    @include reset_button();
    font-weight: normal;
    color: $color-error;
  }

  &__action {
    margin-left: 1em;
    @include reset_button();
    @include hide-desktop();
  }

  &__auth-info {
    position: absolute;
    top: $header-height;
    right: 0;
    display: none;
    gap: 0.5em;
    background: $color-black;
    padding: 1em 2em;

    &--visible {
      @include flex(column, nowrap, center, flex-start);
    }
  }

  &__auth-username {
    display: block;
    padding-bottom: 0.5em;

    &::after {
      content: "";
      display: block;
      width: 2em;
      height: 2px;
      background: $color-white;
      margin-top: 0.5em;
    }
  }

  @include responsive($width-md) {
    width: 100%;
    transition: background-color $transition-time;

    &--black {
      background-color: $color-black;
    }

    &__nav {
      display: none;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: $header-height;
      right: -($width-md);
      max-width: 65vw;
      background-color: $color-black;

      padding-top: 3rem;

      transition: all $transition-time;

      &--open {
        @include flex(column, wrap, flex-start, center);
        right: -2em;
      }
    }

    &__img {
      height: 20px;
    }

    &__actions {
      @include flex(row, nowrap, center, center);
    }

    &__action {
      &--visible {
        display: block;
      }

      &--hidden {
        display: none;
      }
    }
  }
}
