@use "../variables" as *;
@use "../mixins" as *;

.events {
  @include grid(repeat(3, 1fr), auto, 1rem);
}


.pagination {
  width: 100%;
  @include flex(row, nowrap, center, center);
  gap: 1em;
  margin-top: 2rem;

  &__button:disabled {
    background: transparent;
    border: 1px solid $color-main;
    cursor: not-allowed;
  }
}
