@use "../variables" as *;
@use "../mixins" as *;

.search-bar {
  margin: 2rem 0;
  @include flex(column, nowrap, center, center);
  gap: 1rem;

  &__navbar {
    width: 100%;
  }
  &__input {
    position: relative;
  }

  &__filtrer-button {
    @extend %search-bar-buttons;
    right: 1em;
  }

  &__clear-button {
    @extend %search-bar-buttons;
    right: 6em;
  }

  &__categories {
    width: 100%;
    @include flex(row, nowrap, flex-start, center);
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; 
    cursor: grab;
    &::-webkit-scrollbar {
      display: none; 
    }
    gap: 1em;
  }

  &__category {
    background: transparent;
    border: 1px solid $color-grey;

    &:hover{
        border: none;
    }

    &--active{
        background: $color-main;
        border: none;
    }
  }
}
